textarea#txtTailwind.w-full.bg-gray-200.p-2.h-80(name="txtTailwind")
  | !{code}

.relative
  .absolute.bottom-4.right-4
    button#copy-btn.bg-indigo-600.text-white.px-2.py-1.rounded(
      class="hover:bg-indigo-700 disabled:opacity-50 disabled:cursor-not-allowed" 
      type="button") Copy
