doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://unpkg.com/htmx.org@1.4.0")
    script(src="https://unpkg.com/hyperscript.org@0.0.9")
