* {
  margin:0;
  padding: 0;
}

body {
  font-family: sans-serif;
}


.header{
  width: 100%;
  height: 50px;
  background-color: teal;
  color: white;
  text-align:center;
}

.grid {
  display: grid;
  grid-template-columns:1fr 10px 1fr;
}

.bs-container {
  width: 100%;
}

textarea {
  width: 100%;
  height: calc(100vh - 50px);
}

.separator {
  background-color: teal;
}
